.dark-mode{

    h1{
        color: $white;
    }

    .section-info{
        h2{
            color: $white;
        }
    }

    background-color: darken($gray, 4);

    aside{
        background-color: darken($green, 10);
    }

    .pomodoro{
        background-color: darken($blue, 10);
    }

    .tasks{
        background-color: darken($blue_ligth, 5);
    }

    .admin,
    .header-phrase,
    .control-panel-container,
    .header-images{
        h2,
        h3{
            color: $white;
        }

    }

    .form-phrase{
        input:not([type="submit"]),
        textarea{
            color: $white;
            background-color: $gray;
        }
    }

    .popup{
        background-color: darken($gray, 4);
        input:not([type="submit"]){
            color: $white;
            background-color: $gray;
        }
        h3,
        label{
            color: $white;
        }
    }
    .form-phrase{
        label{
            color: $white;
        }
    }
    .image{
        background-color: $gray;
        p{
            color: $white;
        }
    }
    .margin-top-bar{
        h2{
            color: $white;
        }
    }
    .user{
        background-color: darken($blue_ligth, 5);
    }

    .info-img,
    .info-img-2{
        p{
            color: $white;
        }
    }

    .background-pomodoro{
        background-color: $gray;
        h3,
        p,
        span{
            color: $white;
        }
    }
}