@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

// Fonts
$principal_font: 'Roboto', sans-serif;

// Size of fonts
$thin: 100;
$ligth: 300;
$regular: 400;
$black: 900;

// Size of Media Queries
$phone: 480px;
$tablet: 770px;
$desktop: 1200px;

// Colors
$white: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);
$blue: #0984e3;
$blue_ligth: #a29bfe;
$pink: #ff7675;
$red: #d63031;
$green: #00b894;
$orange: #fdcb6e;
$white_dark: red;
$gray: #3d3d3d;